.bi-hand-thumbs-up-fill {
    font-size: $font-size-base;
}

// Small down

@media (max-width: 767.98px) {
    .card-title,
    .card-description,
    .like {
        margin: 16px;
    }

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: 10px;
    }

    .text-truncate,
    .like,
    .more {
        font-size: $font-size-base;
    }

    .blogs-details-btn {
        padding: 0;
    }

    .blog-edit {
        width: 80%;
    }
}

// Medium down

@media (max-width: 991.98px) {
    .navbar {
        .container {
            .collapse,
            .modal {
                background: $gradient;
            }
        }
    }
}

// Small up

@media (min-width: 768px) {
    .card-title {
        font-size: $font-family-base;
        margin: 6px 0 0 0;
    }

    .text-truncate,
    .like,
    .more {
        margin: 0 0 6px 0;
        font-size: $font-size-sm;
    }
}

// Medium up

@media (min-width: 992px) {
    .blog-edit {
        width: 50%;
    }

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: 10px;
    }

    .text-truncate,
    .like,
    .more {
        font-size: $font-size-base;
    }
}

@media (min-width: 1400px) {
    .card-title {
        font-size: $font-size-base * 1.5;
        padding-bottom: 10px;
    }

    .text-truncate {
        font-size: $font-size-base * 1.25;
    }

    .like,
    .more {
        font-size: $font-size-base;
    }
}
