@media (max-width: 575.98px) {
    .navbar {
        background: $gradient;
    }

    .card-title,
    .card-description,
    .like {
        margin: 16px;
    }

    .card-title {
        font-size: $font-size-lg;
    }

    .card-description,
    .like {
        font-size: $font-size-base;
    }

    .like {
        margin-bottom: 0;
    }

    .blogs-details {
        padding: 0;
    }
}

.bi-hand-thumbs-up-fill {
    font-size: $font-size-base;
}





// @media (max-width: 767.98px) {
//     .card-title {
//         font-size: 16px;
//     }
// }
