.bi-hand-thumbs-up-fill {
    font-size: $font-size-base;
}

@media (max-width: 767.98px) {
    .card-title,
    .card-description,
    .like {
        margin: 16px;
    }

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: 10px;
    }

    .card-description,
    .like {
        font-size: $font-size-base;
    }

    .like {
        margin-bottom: 0;
    }

    .blogs-details-btn {
        padding: 0;
    }

    .blog-edit {
        width: 80%;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        .container {
            .collapse,
            .modal {
                background: $gradient;
            }
        }
    }

    .card-title {
        font-size: $font-size-lg;
    }
}

@media (min-width: 768px) {
    .card-title {
        margin: 16px 0;
    }
}

@media (min-width: 992px) {
    .blog-edit {
        width: 50%;
    }
}
